@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row vertical-align">
        <div class="col-xs-6">
            <img src="~/Content/клієнт.png" />         
        </div>       
        <div class="col-xs-6">
            <a href="~/Views/Orders/Create.cshtml"><img src="~/Content/персонал.png" /></a>
        </div>
    </div>
</div>
